// General CSS that should live in the base file.

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;

  h1 {
    color: $brand-primary;
  }
}
