// This will style the patterns.html page. This file SHOULD NOT include global elements,
// only specific styling that helps explain patterns visually.

// It's important to be mindful of class selectors here.

.page--patterns {

  .color-block {
    height: 200px;
    width: auto;
  }

  .color-block--red {
    background-color: $red;
  }

  .color-block__titles {
    h4 {
      color: $med-gray;
    }
  }
}
