// CTL Variables will go here

////////////////////////////////////////////////////////////////////////////////
// COLORS //////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$brand-primary: #ed1a34;
$brand-gray: #A9A9A9;

$light-gray: lighten($brand-gray, 20%);
$dark-gray: darken($brand-gray, 20%);

// black is a little lighter than true black
$black: #222;
$white: #ffffff;
$off-white: #fefefe;

$blue: #13B7FF;

////////////////////////////////////////////////////////////////////////////////
// TYPE ////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// Font sizes are based on a 1.500 Scale (Perfect Fifth)
$hero-font-size: 5.063em;
$larger-font-size: 3.375em;
$large-font-size: 2.25em;
$medium-font-size: 1.5em;
$base-font-size: 1.125em;
$small-font-size: 1em;
$smaller-font-size: .667em;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

$font-family-sans-serif: Roboto, sans-serif;
$font-family-decorative: Oswald, sans-serif;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Monaco, Consolas, monospace;
$font-family-base:        $font-family-sans-serif;
$font-family-decor:       $font-family-decorative;
